<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vm.guides.bestpractinteraction" >

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true" >
        <activity android:name=".BestPractInteractionActivity" >
        </activity>
        <activity android:name=".activities.SearchActivity" >
        </activity>
    </application>

</manifest>
